@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="jumbotron">
    <div style="width: 100%;height: 130px;">

        <div style="width: 35%;height: 120px;float: left">
            <img src="@Url.Content("~/Content/images/seu_logo.jpg")" style="width: 35%;height: 120px;" />
        </div>

        <div style="width: 65%;height: 120px; float: left">
            <center><h1 style="color: dodgerblue;">Southeast University</h1></center>
        </div>
    </div>



    <img src="@Url.Content("~/Content/images/seu_bd.jpg")" style="width: 100%;height: 400px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            The mission of SEU is to provide higher education to students of Bangladesh at an affordable cost,
            keeping in view the challenges of the twenty first century.
            And this mission will be achieved by imparting world class education and providing
            research facilities so that the students can attain their full intellectual, social and personal potentials.
            SEU is committed to develop human capital by cultivating creative thinking in individuals.
            It offers education through both campus and ICT-based online modes of teaching.
        </p>
        <p><a class="btn btn-default" href="http://www.seu.ac.bd/about.php?id=mission">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Goal & Scope</h2>
        <p>
            The goal of the University is to provide excellent modern education for students with a view to
            equipping them with the skill and knowledge necessary to lead the country in its quest for development.
             Along with this, the University also aims at producing students of high moral standard in its students.
        </p>
        <p><a class="btn btn-default" href="http://www.seu.ac.bd/about.php?id=goal_and_scope">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research</h2>
        <p>
            To develop, maintain, and sustain an overall knowledge of the university’s core research
            areas of interest and competence. Over a period time, these core areas should be expanded
            to include new areas reflecting the nature of growth of the university.
        </p>
        <p><a class="btn btn-default" href="http://www.seu.ac.bd/research.php?id=irt">More &raquo;</a></p>
    </div>
</div>